[submodule "dependencies/emitrtl"]
	path = dependencies/emitrtl
	url = https://github.com/morphingmachines/emitrtl.git
[submodule "dependencies/dependencies/emitrtl"]
	path = dependencies/dependencies/emitrtl
	url = https://github.com/morphingmachines/emitrtl.git
